

<p>
  <%= simple_format address_box.block_summary %>
</p>

<p>
  Status: <%= "#{address_box.status}" %>. This address is used in <%= address_box.invoices.count %> invoices and <%= address_box.orders.count %> orders. 
</p>

<p>
  <%= link_to "Edit", edit_admin_user_address_path(address_box.user, address_box) %> 
</p>

<p><br /></p>