
<% if @notifications.count > 0 %>
  <table id="notifications">
    <thead>
      <tr>
        <th><%= t('stizun.product.product') %></th>
        <th><%= t('stizun.general.actions') %></th>
      </tr>
    <tbody>  
  <% @notifications.each do |notification| %>
    <tr class="<%= cycle('even', 'odd')%>">
      <td><%= link_to notification.product.name, product_path(notification.product)%></td>
      <td>
        <%= link_to t('stizun.product.unsubscribe'), unsubscribe_product_path(Notification.get_remove_hash(current_user, notification.product)) %>
      </td>
  <% end %>
    </tbody>
  </table>

<% else %>

  <%= t('stizun.product.you_dont_have_any_product_alerts') %>

<% end %>