<h1>New shipping_rate</h1>

<% form_for([:admin, @shipping_rate]) do |f| %>
  <%= f.error_messages %>


  <table>
   <tr>
      <td><%= f.label :name, "Name" %> </td>
      <td><%= f.text_field :name %></td>
    </tr>
  </table>  

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_shipping_rates_path %>