<table>
      <% invoice_table.invoice_lines.each do |il| %>
        <%= render :partial => 'invoice_line', :object => il %>
      <% end %>
      
      <tr>
        <td> </td>
        <td><%= t("stizun.order.shipping_cost") %></td>
        <td> </td>
        <td> </td>
        <td class="price"><%= pretty_price(invoice_table.shipping_cost) %></td>
      </tr>
      
      <tr>
        <td> </td>
        <td><strong>Total</strong></td>
        <td> </td>
        <td> </td>
        <td class="price"><strong><%= pretty_price(invoice_table.taxed_price) %></strong></td>
      </tr>

</table>

<p><%= t("stizun.order.included_vat") %>: <%= pretty_price(invoice_table.total_taxes)%>
</p>