 <tr>
    <td><%= short_date(invoice.created_at) %></td>    
    <td><%= invoice.document_id %></td>
    <td><%= invoice.status_human %></td>
    <td class="price"><%= pretty_price(invoice.taxed_price) %></td>

    <td class="rightalign fakebutton"><%= link_to t("stizun.invoice.view_invoice"), url_for(:controller => 'invoices', :action => 'uuid', :uuid => invoice.uuid), {:class => 'fake_button' } %></td>
  </tr>