<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th colspan="2" style="text-align: center;">MwSt.</th>
    <th></th>
  </tr>
  <tr>
    <th>Anz.</th>
    <th></th>
    <th style="text-align: center;">&#37;</th>
    <th style="text-align: center;">exkl.</th>
    <th style="text-align: center;">inkl.</th>
    <th style="text-align: right;">Total</th>
  </tr>


  <% invoice.lines.each do |il| %>
    <tr class="<%= cycle('even', 'odd')%>">
      <td><%= il.quantity %></td>
      <td class="product"><%= il.text %></td>
      <td class="price"><%= il.tax_percentage %></td>
      <td class="price vertborders"><%= pretty_price(il.quantity * il.single_price, "") %></td>
      <td class="price vertborders"><%= pretty_price(il.taxed_price, "") %></td>
      <td class="price"><%= pretty_price(il.taxed_price, "") %></td>
      <td></td>
    </tr>
  <% end %>

  <tr class="spacer">
    <td colspan="7">&nbsp;</td>
  </tr>

  <tr class="spacer-bottom">
    <td colspan="7">&nbsp;</td>
  </tr>

  <tr>
    <td></td>
    <td>Produkte inkl. MwSt.</td>
    <td></td>
    <td></td>
    <td></td>
    <td class="price"><%= pretty_price(invoice.products_taxed_price.rounded, "") %></td>
    <td></td>
  </tr>
  <tr class="underline">
    <td></td>
    <td>Versand inkl. MwSt.</td>
    <td></td>
    <td></td>
    <td></td>
    <td class="price"><%= pretty_price(invoice.shipping_cost, "") %></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td><strong>Gesamttotal</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="price"><strong><%= pretty_price invoice.taxed_price %></strong></td>
    <td></td>
  </tr>

</table>


<p style="margin-top: 3em; text-align: right;">Produkte exkl. MwSt.: <%= pretty_price(invoice.gross_price.to_s, ConfigurationItem.get('currency').value) %><br>
Enthaltene MwSt.: <%= pretty_price(invoice.total_taxes, ConfigurationItem.get('currency').value) %></p>
