

<table class="invoice_addresses">
  <tr>
    <td class="billing_address">
    <% if @invoice.shipping_address.blank? or (@invoice.shipping_address == @invoice.billing_address) %>
      <h3><%= t("stizun.address.shipping_and_billing_address")%></h3>
    <% else %>
      <h3><%= t("stizun.address.billing_address")%></h3>
    <% end %>
    <%= simple_format @invoice.billing_address.block_summary %>
    </td>
  
  <% unless @invoice.shipping_address.blank? %>
    <td class="shipping_address">
      <h3><%= t("stizun.address.shipping_address")%></h3>

      <%= (simple_format @invoice.shipping_address.block_summary) if @invoice.shipping_address %>
    </td>
  <% end %>

</tr>
</table>

<h3><%= t("stizun.general.products")%></h3>

<div id="invoice_table">
<%= render :partial => 'invoice_table', :locals => { :invoice => @invoice } %>
</div>

<%= render :partial => 'payment_information' %>
