
<% begin %>
 <% invoice = Rails.root + "custom/views/invoices/invoice.html.erb" %>
 <%= render :file => invoice %>
<% rescue %>

<h2><%= t("stizun.invoice.invoice")%> <%= @invoice.document_id %></h2>

<%= t("stizun.invoice.invoice_date")%>: <%= short_date(@invoice.created_at) %>

<%= render :partial => 'invoice_canceled' %>

<hr>
<h3>Rechnungssteller</h3>

<p><%= ConfigurationItem.get('address').value.gsub("\\n","<br>").html_safe %></p>

<p><%= t("stizun.invoice.vat_number")%>: <%= ConfigurationItem.get('vat_number').value %></p>

<hr>

  <table class="invoice_addresses">
    <tr>
      <td class="billing_address">
        <h3><%= t("stizun.address.billing_address")%></h3>  
        <%= simple_format @invoice.billing_address.block_summary %>
      </td>
    
    <% unless @invoice.shipping_address.blank? %>
      <td class="shipping_address">
        <h3><%= t("stizun.address.shipping_address")%></h3>

        <%= (simple_format @invoice.shipping_address.block_summary) if @invoice.shipping_address %>
      </td>
    <% end %>

  </tr>
  </table>

<hr>

  <div id="invoice_table">
    <%= render :partial => 'invoice_table', :locals => { :invoice => @invoice } %>
  </div>

<%= render :partial => 'invoice_canceled' %>


  <p>Gewählte Zahlungsart: <%= @invoice.payment_method.name %></p>
  
  <%= render :partial => 'payment_information' %>
<% end %>


<p id="print_link"><%= link_to_function("Drucken", "javascript:print()") %></p>