<h3><%= t("stizun.address.billing_address")%></h3>

<%= simple_format @invoice.billing_address.block_summary %>

<h3><%= t("stizun.address.shipping_address")%></h3>

<%= (simple_format @invoice.shipping_address.block_summary) if @invoice.shipping_address%>

<h3><%= t("stizun.general.products")%></h3>

<%= render :partial => 'invoice_table', :object => @invoice %>
