
<%= calendar_for(
      @year, 
      @month, 
      {:calendar_class => "calendar",
      :first_day_of_week => 1,
      :yield_surrounding_days => true,
      
      :previous_month => 
        lambda { |date| 
          link_to "&lt;&lt;", admin_histories_path(:month => date.month, :year => date.year, :date => @target_date) 
        },
      
      :next_month => 
          lambda { |date| 
            link_to "&gt;&gt;", admin_histories_path(:month => date.month, :year => date.year, :date => @target_date) 
          }
       } ) do |d| 

    if History.exist_for_day?(d)
      link_to d.mday, admin_histories_path(:date => d.to_s, :year => @year, :month => @month)
    else
      d.mday
    end
end %>

<h3>Filters</h3>

<% form_tag({:action => :index}, {:method => :get}) do %>
  <% History::TYPE_CONST_HASH.each do |k, v| %>
    <%= check_box_tag "filters[]", k, @filters.include?(k.to_i) %> <%= v %>
  <% end %>
  <%= submit_tag "Filter" %>
  
  <%= hidden_field_tag :date, @target_date %>
  <%= hidden_field_tag :month, @month %>
  <%= hidden_field_tag :year, @year %>
  
<% end %>


<%= will_paginate @histories %>

<h3>History for <%= @target_date.to_s %></h3>

  <% if @histories.count == 0 %>
    No history entries for this day.
  <% else %>
    <table>

    <tr>
      <th>Date</th>
      <th>Text</th>
      <th>Type</th>
    </tr>

      <% @histories.each do |h| %>
      
        <tr>
          <td><%= h.created_at.to_s %></td>
          <td><%= h.text %></td>
          <td><%= h.type_human %></td>
        </tr>

      <% end %>
      
    </table>  
  <% end %>


<%= will_paginate @histories %>
