<h1>Listing Margin Ranges</h1>

<% if @product %>
  <h2>Specific for product: <%= @product.to_s %></h2>
<% elsif @supplier %>
  <h2>Specific for supplier: <%= @supplier.name %></h2>
<% else %>
  <h2>Non-specific, system-wide default margin ranges</h2>
<% end %>


<table>
  <tr style="height: 25px;">
    <th>Price from</th>
    <th>Price to</th>
    <th>Percentage</th>
    <th></th><th></th>
  </tr>

<% @margin_ranges.each do |margin_range| %>
  <tr class="<%= cycle("odd","even") %>">
    <td><%= margin_range.start_price %></td>
    <td><%= margin_range.end_price %></td>
    <td><%= margin_range.margin_percentage %></td>
    <td><%= link_to 'Edit', edit_admin_margin_range_path(margin_range) %></td>
    <td><%= link_to 'Destroy', admin_margin_range_path(margin_range), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if params[:supplier_id] %>
  <%= link_to 'New margin range', new_admin_supplier_margin_range_path(:supplier_id => params[:supplier_id]) %>
<% elsif params[:product_id] %>
  <%= link_to 'New margin range', new_admin_product_margin_range_path(:product_id => params[:product_id]) %>
<% else %>
  <%= link_to 'New margin range', new_admin_margin_range_path %>
<% end %>
 
