<h1>New Margin Range</h1>

<% if @product %>
  <h2>Specific for product: <%= @product.to_s %></h2>
<% elsif @supplier %>
  <h2>Specific for supplier: <%= @supplier.name %></h2>
<% else %>
  <h2>Non-specific, system-wide default margin range</h2>
<% end %>


<%= form_for([:admin, @margin_range]) do |f| %>
  <%= f.error_messages %>

  <table>
   <tr>
      <td><%= f.label :start_price, "Start price" %> </td>
      <td><%= f.text_field :start_price %></td>
    </tr>
    <tr>
      <td><%= f.label :end_price, "End price" %> </td>
      <td><%= f.text_field :end_price %></td>
    </tr>
    <tr>
      <td><%= f.label :margin_percentage, "Percentage" %> </td>
      <td><%= f.text_field :margin_percentage %> (leave empty if you want to use margin bands below)</td>
    </tr>

    <tr>
      <td><%= f.label :band_minimum, "Band minimum percentage" %> </td>
      <td><%= f.text_field :band_minimum %></td>
    </tr>

    <tr>
      <td><%= f.label :band_maximum, "Band maximum percentage" %> </td>
      <td><%= f.text_field :band_maximum %></td>
    </tr>

  </table>  


  <%= f.hidden_field :supplier_id %>
  <%= f.hidden_field :product_id %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
