<tr class="<%= cycle('odd','even') %>">
  <td>
  <%= order_line.quantity %>
  </td>

  <td>
  <%= link_to order_line.product.name, edit_admin_product_path(order_line.product), :class => 'fancybox' %>
  </td>
    
  <td>
  <%= order_line.product.supplier.name %>
  </td>

  <td>
  <%= order_line.product.tax_class.percentage %>%
  </td>
  
  <td class="price">
  <%= pretty_price(order_line.product.price.rounded) %>
  </td>
  
  <td class="price">
  <%= pretty_price(order_line.price.rounded) %>
  </td>

</tr>