<tr class="<%= cycle('odd','even') %>">
  <td>
  <%= order_line.quantity %>
  </td>

  <td>
  <%= order_line.manufacturer %>
  </td>

  <td>
  <%= order_line.manufacturer_product_code %>
  </td>


  <td>
  <%= link_to order_line.text, edit_admin_product_path(order_line.product), :class => 'fancybox' %>
  </td>
    
  <td>
  <%= order_line.product.supplier.name if order_line.product.supplier %><br>

    <% if order_line.product.supplier_detail_link.blank? %>
      <%= order_line.product.supplier_product_code  %>
    <% else %>
      <%= link_to(order_line.product.supplier_product_code, order_line.product.supplier_detail_link) %>
    <% end %>

  </td>

  <td>
  <%= order_line.tax_percentage %>%
  </td>
  
  <td class="price">
  <%= pretty_price(order_line.single_price) %>
  </td>
  
  <td class="price">
  <%= pretty_price(order_line.taxed_price) %>
  </td>

  <td>
  <%= link_to 'Edit Line', edit_admin_order_order_line_path(order_line.order, order_line) %>
  </td>

</tr>