<table>

      <tr>
        <th>Qty</th>
        <th>Manuf.</th>
        <th>Manuf. code</th>
        <th>Product</th>
        <th>Supplier/No.</th>
        <th>VAT</th>
        <th>Sales Price</th>
        <th>Line Total</th>
      </tr>
      <% order_table.order_lines.each do |ol| %>
        <%= render :partial => 'order_line', :object => ol %>
      <% end %>

      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td colspan="2">Tax reduction due to rebate</td>
        <td></td>
        <td> </td>
        <td class="price"><em><%= pretty_price(order_table.tax_reduction) %></em></td>
      </tr>

      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td colspan="2">Taxes (total, after rebate)</td>
        <td></td>
        <td> </td>
        <td class="price"><em><%= pretty_price(order_table.total_taxes) %></em></td>
      </tr>      

      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td><em>Shipping (total)</em></td>
        <td><%= order_table.weight.to_s%>kg</td>
        <td>incl. <%= pretty_price(order_table.shipping_taxes)%> VAT</td>
        <td> </td>
        <td class="price"><em><%= pretty_price(order_table.shipping_cost) %></em></td>
      </tr>
      
      <tr>
        <td></td>
        <td> </td>
        <td> </td>
        <td><strong>Total</strong></td>
        <td> </td>
        <td></td>
        <td> </td>        
        <td class="price"><strong><%= pretty_price(order_table.taxed_price) %></strong></td>
     </tr>
</table>