<h1><%= t("stizun.account.edit_my_account") %></h1>
 
<%= form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit t("stizun.account.update") %>
<% end %>
 
<br /><%= link_to t("stizun.account.to_my_account_page"), account_path %>