<h2><%= t("stizun.account.account_information") %></h2>

<table>
  <td class="bold"><%= t("stizun.account.email") %></td>
  <td><%=h @user.email %> (<%= t("stizun.account.also_your_login") %>)</td>
</table>

<p class="rightalign">
  <%= link_to t("stizun.users.change_password_or_email"), edit_user_path(current_user) %>
</p>

<hr>
<h3><%= t("stizun.account.your_pending_orders") %></h3>

<h4><%= t("stizun.order.orders_awaiting_payment") %></h4>
<% if @orders_awaiting_payment.count > 0 %>
  <%= render :partial => 'orders/orders', :object => @orders_awaiting_payment %>
<% else %>
  <p><%= t("stizun.order.no_orders_awaiting_payment") %></p>
<% end %>

<h4><%= t("stizun.order.orders_in_processing_or_ready_to_ship") %></h4>

<% if (@orders_processing.count + @orders_to_ship.count + @orders_unprocessed.count) > 0 %>

  <%= render :partial => 'orders/orders', :object => @orders_unprocessed %>
  <%= render :partial => 'orders/orders', :object => @orders_processing %>
  <%= render :partial => 'orders/orders', :object => @orders_to_ship %>

<% else %>
  <p><%= t("stizun.order.no_orders_in_processing_or_ready_to_ship") %></p>
<% end %>

<p class="rightalign">
  <%= link_to t("stizun.account.view_all_orders"), user_orders_path(@user) %>
</p>

<hr>
  <div class="invoices">
    <h3><%= t("stizun.account.your_unpaid_invoices") %></h3>

  <% if @invoices.count > 0 %>
   <%= render :partial => 'invoices/invoices', :object => @invoices %>
  <% else %>

    <%= t("stizun.invoice.no_unpaid_invoices") %>

  <% end %>

  <p class="rightalign">
    <%= link_to t("stizun.account.view_all_invoices"), user_invoices_path(@user) %>
  </p>

</div>

<hr />

<h3><%= t("stizun.address.addresses") %></h3>

<% if @addresses.count > 0 %>
  <p><%= t("stizun.address.you_have_the_following_saved_addresses") %></p>

  <% @addresses.each do |a| %>

    <%= render :partial => 'addresses/address_box', :object => a %>

  <% end %>

<% else %>

<p><%= t("stizun.address.you_have_no_saved_addresses") %></p>

<% end %>


<p class="rightalign">
  <%= link_to t("stizun.address.add_new_address"), new_address_path %>
</p>

<h3>Subscribed products</h3>
<p>You can manage your subscribed products here</p>
<p class="rightalign">
  <%= link_to "All subscriptions", notifications_path %>
</p>

<hr>

<%= link_to("Logout", logout_path) if current_user %>
