<tr class="<%= cycle('even', 'odd')%>">

  <td>
    <%= detail_row.document_id %>
  </td>
  <td>
    <%= short_date(detail_row.created_at) %>
  </td>
  <td>
    <%= short_address(detail_row.billing_address) %>
  </td>
  <td>
    <%= short_address(detail_row.shipping_address) if detail_row.shipping_address %>
  </td>
  <td class="price">
    <%= pretty_price(detail_row.taxed_price.rounded) %>
  </td>
  <td>
    <%= detail_row.status_human %>
  </td>
  <td>
    <%= link_to "Resend invoice", resend_invoice_admin_invoices_path(:id => detail_row), :method => :post %>
    <%= link_to "Send reminder", send_payment_reminder_admin_invoices_path(:id => detail_row), :method => :post %>
    <%= link_to "Edit", edit_admin_invoice_path(detail_row) %>
    <%= link_to "View",  url_for(:controller => '/invoices', :action => 'uuid', :uuid => detail_row.uuid) %>

    <!-- We don't want to allow deleting for now, for reasons of bookkeeping. -->
    <!--<%= link_to "Destroy", admin_invoice_path(detail_row), :confirm => 'Are you sure?', :method => :delete %>-->
  </td>
  
</tr>


<% unless detail_row.reminder_count == 0 %>
<tr class="<%= current_cycle %>">
  <td>
    <%= detail_row.document_id %>
  </td>
  <td colspan="5"></td>
  <td>Reminded <%= detail_row.reminder_count %> times<br>
      Last reminder: <%= detail_row.last_reminded_at.localtime.to_s %></td>
</tr>
<% end %>

