<h2>Edit Invoice</h2>

<%= error_messages_for 'invoice' %>

<h4>Shipping address</h4>

<%= if @invoice.shipping_address
      simple_format @invoice.shipping_address.block_summary
    else
      "Same as billing address."
    end %>

<h4>Billing address</h4>

<%= simple_format @invoice.billing_address.block_summary %>


<h4>Items invoiced</h4>

<div id="invoice_table">
  <%= render :partial => 'invoices/invoice_table', :locals => { :invoice => @invoice } %>
</div>

<%= form_for [:admin, @invoice] do |f| %>
<table>

  <tr>
    <td>Payment method</td>
    <td><%= @invoice.payment_method.name %></td>
  </tr>

  <tr>
    <td>Status</td>
    <td><%= f.select :status_constant, options_for_select(Invoice::status_hash_for_select, @invoice.status_constant) %></td>
  </tr> 

</table>

<%= f.submit "Submit" %>

<% end %>
