<div id="devheader">
<strong>Development navigation.</strong> <em>Customer links:</em>

  <%= link_to "Home", root_path %> | 
  <%= link_to "Products", products_path %> | 
  <%= link_to "Shopping cart", cart_path %> |
  <%= link_to "New account", new_user_path %> | 
  <%= link_to "Log in", login_path %> 
<%= (" | " + link_to("Log out", logout_path) ) if current_user %>
<%= (" | " + link_to("My account", user_path(current_user) )) if current_user %>

 |
</div>
