<%= form_for([:admin, @shipping_calculator]) do |f| %>
  <%= f.label :name, t('stizun.general.name') %>: <%= f.text_field :name %>

  <h3><%= t('stizun.general.configuration') %></h3>

  <%= render @shipping_calculator.class.name.underscore + "_configuration_form" %>

  <%= f.submit %>



<% end %>
