
<h3>Configuration Items</h3>

<table>
  <tr>
    <th>ID</th>
    <th>Key</th>
    <th>Value</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>


  <% @configuration_items.each do |ci| %>
    <tr>
      <td><%= ci.id %></td>
      <td><%= ci.key %></td>
      <td><%= ci.value %></td>
      <td><%= ci.name %></td>
      <td><%= ci.description %></td>
      <td><%= link_to "Edit", edit_admin_configuration_item_path(ci) %></td>
    </tr>
  <% end %>

</table>


<p><%= link_to "Create new configuration item", new_admin_configuration_item_path %></p>
