

<div id="special_offers">
<h3>Unsere aktuellen Aktionen</h3>
  <%= render :partial => 'products/special_offers' %>
</div>


  <h4>Release-Party für Ubuntu 11.04 &quot;Natty Narwhal&quot; am 30.4. in Winterthur</h4>

  <p>Wir freuen uns, ein offizieller Sponsor der aktuellen Ubuntu-Release-Party zu sein. Mit den halbjährlichen Release-Partys wird die Veröffentlichung einer neuen Version von Ubuntu gefeiert. Dort treffen sich Anwender, Entwickler, Firmen und Private . Wir sind ebenfalls vor Ort und präsentieren unter anderem unseren <strong>Lincomp Origin &quot;Desktop Pro&quot;</strong> mit Ubuntu 11.04 zum Anfassen, Ausprobieren und Kaufen, natürlich zum Sonderpreis.</p>

  <%= link_to(image_tag('ubuntu_release_banner_gross.png'), 'http://wiki.ubuntuusers.de/Anwendertreffen/ReleasePartyCH') %>

  <p>Die Party startet um 15 Uhr bei der ZLI (Zürcher Lehrmeistervereinigung Informatik) an der Zürcherstrasse 19 in Winterthur. Treffen wir Sie dort?</p>

 <p><%= link_to 'Mehr Informationen zur Party', 'http://wiki.ubuntuusers.de/Anwendertreffen/ReleasePartyCH' %></p>

<p>RSS2</p>
<%= display_rss_feed %>


 <!-- <h3>Was ist Lincomp?</h3>
  <p>Wir sind ein Online-Shop, spezialisiert auf massgeschneiderte PCs und Notebooks ohne Zwang zu einer Betriebssystem-Lizenz. Natürlich führen wir auch PC-Zubehör, Unterhaltungselektronik und andere IT-Produkte. Bei unseren Produkten achten wir sehr auf Linux-Kompatibilität und beraten Sie auch entsprechend.</p>

  <p>Fehlt Ihnen ein Produkt in unserem Sortiment? <%= link_to 'Schreiben Sie uns', 'mailto:info@lincomp.ch' %>, und wir machen Ihnen gerne eine Offerte.</p>-->
