<h1>Kontakt</h1>

<p>Treten Sie unverbindlich mit uns in Kontakt.</p>


<%= form_tag :controller => :page, :action => :contact do |f| %>

<table>
  
  <tr>
    <td>E-Mail-Adresse:</td><td><%= text_field_tag :from, @email, :size => 40 %></td>
  </tr>
  <tr>
    <td>Betreff:</td><td><%= text_field_tag :subject, nil, :size => 60 %></td>
  </tr>

  <tr>
    <td>Art der Anfrage:</td>
    <td>
      <%= radio_button_tag :reason, 'question', :selected %>Allgemeine Frage<br>
      <%= radio_button_tag :reason, 'complaint' %>Reklamation<br>
      <%= radio_button_tag :reason, 'contact' %>Anderes
    </td>
  </tr>

  <tr>
    <td>Mitteilung:</td><td><%= text_area_tag :body, nil, :rows => 20, :cols => 70 %></td>
  </tr>

  <tr>
    <td></td><td><%= submit_tag 'Anfrage abschicken' %></td>
  </tr>

</table>


<% end %>
