<h3><%= t("stizun.shipping.shipping_fees") %></h3>

<p><%= t("stizun.shipping.our_shipping_fees_are_as_follows") %>:</p>

<h4><%= t("stizun.shipping.normal_shipping_fees") %></h4>


<!-- TODO: Render a different partial depending on which calculator is in use, and make that partial responsible for knowing how to display that particular calculator's shipping costs -->

<table class="shipping_costs">
  <thead>
    <tr>
      <th><%= t("stizun.shipping.weight_from")%></th>
      <th><%= t("stizun.general.to")%></th>
      <th><%= t("stizun.general.price")%></th>
    </tr>
  </thead>
  
  <% @table.each do |sc| %>
  
    <tr class="<%= cycle('odd', 'even')%>">
      <td><%= sc[:weight_min] / 1000.0 %> kg</td>
      <td><%= sc[:weight_max] / 1000.0 %> kg</td>
      <td><%= pretty_price(sc[:price]) %> <%= t("stizun.general.including_vat")%></td>
  <% end %>
  
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
  
</table>


<% if (!@minimum_item_count.nil? or @minimum_order_amount.nil?) %>
  <h4><%= t("stizun.shipping.free_shipping") %></h4>
  <p><%= t("stizun.shipping.free_shipping_is_possible_if_one_of_the_following_occurs") %></p>
  <ul>
    <% if !@minimum_order_amount.nil? %>
      <li><%= t("stizun.shipping.from_minimum_amount", {currency: @currency, price:  "%05.2f" % @minimum_order_amount})%></li>
    <% end %>
    <% if !@minimum_item_count.nil? %>
      <li><%= t("stizun.shipping.from_minimum_item_count", {count: @minimum_item_count})%></li>
    <% end %>
  </ul>
<% end %>


