  
    <% order.lines.each do |l| %>
    <tr>
      <td><%= l.quantity %></td>
      <td><%= l.text %></td>
      <td class="price"><%= pretty_price(l.taxed_price) %></td>
    </tr>
    <% end %>


    <tr>
      <td></td>
      <td><%= t("stizun.order.shipping_cost")%></td>
      <td class="price shipping_cost_including_taxes"><%= pretty_price(order.total_taxed_shipping_price) %></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td><strong>Total</strong></td>
      <td class="price taxed_price"><strong><%= pretty_price(order.taxed_price) %></strong></td>
    </tr>
