
  <tr style="background-color: #eee; font-weight: bold;">
    <td style="border-top: 1px solid black;"><%= order.document_id %></td>
    <td style="border-top: 1px solid black;"><%= short_date(order.created_at) %>, Status: <%= order.status_human %></td>
    <td style="border-top: 1px solid black;"></td>

  </tr>
  
    <% order.lines.each do |l| %>
    <tr>
      <td><%= l.quantity %></td>
      <td><%= l.product.name %></td>
      <td class="price"><%= pretty_price(l.product.price.rounded) %></td>
    </tr>
    <% end %>


    <tr>
      <td></td>
      <td><%= t("stizun.order.shipping_cost")%></td>
      <td class="price"><%= pretty_price(order.shipping_rate.total_cost) %></td>
    </tr>

    <tr>
      <td></td>
      <td>Total</td>
      <td class="price"><%= pretty_price(order.price.rounded) %></td>
    </tr>

    <% if order.invoice %>
      <tr>
        <td></td>
        <td><%= link_to t("stizun.invoice.invoice"), url_for(:controller => 'invoices', :action => 'uuid', :uuid => order.invoice.uuid) %></td>
        <td></td>
      </tr>
    <% end %>


    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
    </tr>