
<div class="orders">
<% orders.each do |o| %>
  <div class="order <%= cycle('even', 'odd') %>">
    <h5><%= short_date(o.created_at) %>, Bestellnr. <%= o.document_id %></h5>
      <table>
          <%= render :partial => 'orders/order', :object => o %>
      </table>
    <p>Status: <%= o.status_human %>. <%= link_to t("stizun.invoice.invoice") + " #{o.invoice.document_id} ansehen/bezahlen", url_for(:controller => 'invoices', :action => 'uuid', :uuid => o.invoice.uuid) if o.invoice %></p>
    </div>
<% end %>
</div>