  
    <% order.lines.each do |l| %>
    <tr>
      <td><%= l.quantity %></td>
      <td><%= l.product.name %></td>
      <td class="price"><%= pretty_price(l.product.taxed_price.rounded) %></td>
    </tr>
    <% end %>


    <tr>
      <td></td>
      <td><%= t("stizun.order.shipping_cost")%></td>
      <td class="price"><%= pretty_price(order.shipping_rate.total_cost) %></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td><strong>Total</strong></td>
      <td class="price"><strong><%= pretty_price(order.taxed_price.rounded) %></strong></td>
    </tr>
