<h3>Place order</h3>

<%= error_messages_for(:order) %>
<%= error_messages_for(:cart) %>
<%= error_messages_for(:billing_address) %>
<%= error_messages_for(:shipping_address) %>
<%= error_messages_for(:address) %>


<% form_for @order do |f| %>

<h4>Ordered items</h4>

<p>TODO</p>

  <% if current_user %>
  <%= render :partial => "user_information" %>
  <% end %>

  <% if current_user and current_user.payment_methods.count > 0 %>
  <h4>Payment method</h4>
  
  <p>Select payment method:</p>
  <%= f.select(:payment_method_id, options_from_collection_for_select(current_user.payment_methods, :id, :name) ) %>
  <% end %>


  <h4>Billing address</h4>

  <% fields_for :billing_address, @order.billing_address do |ba| %>
 
  <%= ba.error_messages %>

  <% if current_user %>
  <p>Use saved address:</p>
  <%= select_tag(:billing_address_id, options_for_select( Address.option_hash_for_select(current_user)) ) %>
  <p>Or enter new address:</p>
  <% end %>
  
  
  <table class="address">
    <tr>
      <td><%= ba.label :company, "Company" %> </td>
      <td><%= ba.text_field :company %></td>
    </tr>
    <tr>
      <td><%= ba.label :firstname, "First name" %> </td>
      <td><%= ba.text_field :firstname %></td>
    </tr>
    <tr>
      <td><%= ba.label :lastname, "Last name" %> </td>
      <td><%= ba.text_field :lastname %></td>
    </tr>
    <tr>
      <td><%= ba.label :email, "Email" %> </td>
      <td><%= ba.text_field :email %></td>
    </tr>
    <tr>
      <td><%= ba.label :street, "Street and no." %> </td>
      <td><%= ba.text_field :street %></td>
    </tr>
    <tr>
      <td><%= ba.label :postalcode, "Postal code" %> </td>
      <td><%= ba.text_field :postalcode %></td>
    </tr>
    <tr>
      <td><%= ba.label :city, "City" %> </td>
      <td><%= ba.text_field :city %></td>
    </tr>
    <tr>
      <td><%= ba.label :country, "Country" %> </td>
      <td><%= ba.collection_select(:country_id, Country.all, :id, :name) %></td>
    </tr>
    <% if current_user %>
    <tr>
      <td></td>
      <td><%= check_box_tag :save_billing_address %> Save this address for the future</td>
    </tr>
    <% end %>
  </table>
  <% end %>


  <h4>Shipping address</h4>
  <p>You can leave this empty if you want the goods to be shipped to the billing address you entered above.</p>
  
  <% if current_user %>
  <p>Use saved address:</p>
  <%= select_tag(:shipping_address_id, options_for_select( Address.option_hash_for_select(current_user))) %>

  <p>Or enter new address:</p>
  <% end %>

  <% fields_for :shipping_address, @order.shipping_address do |sa| %>

  <%= sa.error_messages %>

  <table class="address">
    <tr>
      <td><%= sa.label :company, "Company" %> </td>
      <td><%= sa.text_field :company %></td>
    </tr>
    <tr>
      <td><%= sa.label :firstname, "First name" %> </td>
      <td><%= sa.text_field :firstname %></td>
    </tr>
    <tr>
      <td><%= sa.label :lastname, "Last name" %> </td>
      <td><%= sa.text_field :lastname %></td>
    </tr>
    <tr>
      <td><%= sa.label :email, "Email" %> </td>
      <td><%= sa.text_field :email %></td>
    </tr>
    <tr>
      <td><%= sa.label :street, "Street and no." %> </td>
      <td><%= sa.text_field :street %></td>
    </tr>
    <tr>
      <td><%= sa.label :postalcode, "Postal code" %> </td>
      <td><%= sa.text_field :postalcode %></td>
    </tr>
    <tr>
      <td><%= sa.label :city, "City" %> </td>
      <td><%= sa.text_field :city %></td>
    </tr>
    <tr>
      <td><%= sa.label :country, "Country" %> </td>
      <td><%= sa.collection_select(:country_id, Country.all, :id, :name) %></td>
    </tr>
    <% if current_user %>
    <tr>
      <td></td>
      <td><%= check_box_tag :save_shipping_address %> Save this address for the future</td>
    </tr>
    <% end %>
  </table>
  <% end %>


<%= submit_tag 'Submit order' %>

<% end %>