<h1>Bestellen</h1>

<%= error_messages_for(:order) %>
<%= error_messages_for(:cart) %>
<%= error_messages_for(:billing_address) %>
<%= error_messages_for(:shipping_address) %>
<%= error_messages_for(:address) %>


<% unless current_user %>

<div class="bordered">

<p>Möchten Sie Ihre Adressen speichern und verwalten, eine von der Rechnungsadresse abweichende Lieferadresse verwenden oder Ihre Bestellungen und Pakete verfolgen? Dann <%= link_to 'richten Sie sich ein Kunden-Konto ein', :controller => 'users', :action => 'sign_up' %>.</p>
<p>Haben Sie bereits ein Konto? <%= link_to "Loggen Sie sich ein", :controller => 'users', :action => 'sign_in' %>, bevor Sie mit der Bestellung fortfahren.</p>

</div>


<p class="bottomline lightgray">

<% end %>


<% unless @product_updates.nil? or @product_updates.empty? %>
  <%= render :partial => 'carts/product_updates' %>
<% end %>


<%= form_for @order do |f| %>

  <% if current_user %>
  <h3>Rechnungsadresse</h3>
  <% else %>
  <h3>Rechnungs- und Lieferadresse</h3>
  <% end %>

  <%= fields_for :billing_address, @order.billing_address do |ba| %>
 
  <%= ba.error_messages %>

  <% if current_user %>
  <p><%= radio_button_tag('billing_address_source', 'saved_address', true, :id => 'billing_address_source_saved_address') %><%= label_tag 'billing_address_source_saved_address', 'Gespeicherte Adresse benutzen'%></p>

  <div id="billing_address_selector">
    <%= select_tag(:billing_address_id, options_for_select( Address.option_hash_for_select(current_user)) ) %>
  </div>

  <p><%= radio_button_tag 'billing_address_source', 'new_address', false, :id => 'billing_address_source_new_address' %><%= label_tag 'billing_address_source_new_address', 'Neue Adresse eingeben'%></p> 
  <% end %>
  
  <div id="billing_address_form">
    <p><strong>Wir können nicht an Postfächer liefern.</strong></p>

    <table class="address" id="billing_address">
      <tr>
        <td><%= ba.label :company,  t('stizun.address.attributes.company') %> </td>
        <td><%= ba.text_field :company, :size => 45 %></td>
      </tr>
      <tr>
        <td>
          <%= ba.label :firstname, t('stizun.address.attributes.firstname') %>/<%= ba.label :lastname, t('stizun.address.attributes.lastname') %>
        </td>
        <td><%= ba.text_field :firstname, :size => 18 %> <%= ba.text_field :lastname, :size => 18 %></td>
      </tr>
      <tr>
        <td><%= ba.label :email, t('stizun.address.attributes.email') %> </td>
        <td><%= ba.text_field :email %></td>
      </tr>
      <tr>
        <td><%= ba.label :street, t('stizun.address.attributes.street') %> </td>
        <td><%= ba.text_field :street %></td>
      </tr>
      <tr>
        <td>
          <%= ba.label :postalcode, t('stizun.address.attributes.postalcode') %>/<%= ba.label :city, t('stizun.address.attributes.city') %>
        </td>
        <td><%= ba.text_field :postalcode, :size => 6 %><%= ba.text_field :city, :size => 20 %></td>
      </tr>
      <tr>
        <td><%= ba.label :country_id, t('stizun.address.attributes.country') %> </td>
        <td><%= ba.collection_select(:country_id, Country.all, :id, :name) %></td>
      </tr>
      <% if current_user %>
      <tr>
        <td></td>
        <td><%= check_box_tag :save_billing_address %>  <%= t("stizun.order.save_address")%></td>
      </tr>
      <% end %>
    </table>
    </div>
  <% end %>

  <% if current_user %>
    <p class="bottomline lightgray">
    <h3>Lieferadresse</h3>

    <p><%= t("stizun.order.leave_this_empty_to_ship_to_billing_address")%></p>

    <p><%= radio_button_tag 'shipping_address_source', 'saved_address', true, :id => 'shipping_address_source_saved_address' %><%= label_tag 'shipping_address_source_saved_address', 'Gespeicherte Adresse benutzen'%></p>
    <div id="shipping_address_selector">
      <%= select_tag(:shipping_address_id, options_for_select( Address.option_hash_for_select(current_user))) %>
    </div>
    <p><%= radio_button_tag 'shipping_address_source', 'new_address', false, :id => 'shipping_address_source_new_address' %><%= label_tag 'shipping_address_source_new_address', 'Neue Adresse eingeben'%></p> 

    <%= fields_for :shipping_address, @order.shipping_address do |sa| %>

      <%= sa.error_messages %>


    <div id="shipping_address_form">
      <p></span><strong>Wir können nicht an Postfächer liefern.</strong></p>

      <table class="address" id="shipping_address">
        <tr>
          <td><%= sa.label :company, t('stizun.address.attributes.company')  %> </td>
          <td><%= sa.text_field :company, :size => 45 %></td>
        </tr>
        <tr>
          <td>
            <%= sa.label :firstname, t('stizun.address.attributes.firstname') %>/<%= sa.label :lastname, t('stizun.address.attributes.lastname') %>
          </td>
          <td><%= sa.text_field :firstname, :size => 18 %> <%= sa.text_field :lastname, :size => 18 %></td>
        </tr>
        <tr>
          <td><%= sa.label :email, t('stizun.address.attributes.email') %> </td>
          <td><%= sa.text_field :email %></td>
        </tr>
        <tr>
          <td><%= sa.label :street, t('stizun.address.attributes.street') %> </td>
          <td><%= sa.text_field :street %></td>
        </tr>
        <tr>
          <td>
            <%= sa.label :postalcode, t('stizun.address.attributes.postalcode') %>/<%= sa.label :city, t('stizun.address.attributes.city') %>
          </td>
          <td><%= sa.text_field :postalcode, :size => 6 %><%= sa.text_field :city, :size => 20 %></td>
        </tr>
        <tr>
          <td><%= sa.label :country_id, t('stizun.address.attributes.country')  %> </td>
          <td><%= sa.collection_select(:country_id, Country.all, :id, :name) %></td>
        </tr>
        <% if current_user %>
        <tr>
          <td></td>
          <td><%= check_box_tag :save_shipping_address %> <%= t("stizun.order.save_address")%></td>
        </tr>
        <% end %>
      </table>
    <% end %>

  </div>
  <% end %>


  <p style="border-bottom: 1px solid #ddd;">


<h3>Zusammenfassung Ihrer Bestellung</h3>

<div id="order_table">
  <%= render :partial => 'documents/document_table', :locals => { :document => @cart, :f => f } %>
</div>

<p class="bottomline lightgray"></p>

  <h3><%= t("stizun.order.payment_method") %></h3>
  <% if current_user and current_user.payment_methods.count > 0 %>
  <p><%= t("stizun.order.select_payment_method") %></p>
  <%= f.select(:payment_method_id, options_from_collection_for_select(current_user.payment_methods, :id, :name) ) %>
  <% else %>
  <p>Vorkasse (Banküberweisung, PayPal oder Kreditkarte)</p>
  <% end %>

  <p class="bottomline lightgray">


<p><%= t("stizun.order.notification_email_explanation") %></p>

<p><strong><%= f.check_box 'terms_of_service' %> <%= f.label 'terms_of_service', t("stizun.order.i_accept_terms") %></strong> (<%= link_to t("stizun.order.read_terms_of_service"), :controller => 'page', :action => 'tos' %>)</p>

<p><%= submit_tag t("stizun.order.submit_order") %></p>

<% end %>



<script type="text/javascript">

      var show_billing_selector = function(event) {
        $('#billing_address_form').fadeOut();
        $('#billing_address_selector').slideDown();
      };

      var show_billing_form = function(event) {
        $('#billing_address_selector').fadeOut();
        $('#billing_address_form').slideDown();
      };

      var billing_address_switcher = function() {
        $('#billing_address_source_saved_address').change(show_billing_selector);
        $('#billing_address_source_new_address').change(show_billing_form);
        $('#billing_address_selector').show();
        $('#billing_address_form').hide();
      };

      var show_shipping_selector = function(event) {
        $('#shipping_address_form').fadeOut();
        $('#shipping_address_selector').slideDown();
      };

      var show_shipping_form = function(event) {
        $('#shipping_address_selector').fadeOut();
        $('#shipping_address_form').slideDown();
      };

      var shipping_address_switcher = function() {
        $('#shipping_address_source_saved_address').change(show_shipping_selector);
        $('#shipping_address_source_new_address').change(show_shipping_form);
        $('#shipping_address_selector').show();
        $('#shipping_address_form').hide();
      };


      $(document).ready(function() {
        $('#billing_address_form').show();
        <% if current_user %>
          billing_address_switcher();
          shipping_address_switcher();
        <% end %>
      });

</script>

