  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="2" style="text-align: center;">MwSt.</th>
      <th></th>
    </tr>
    <tr>
      <th>Anz.</th>
      <th></th>
      <th style="text-align: center;">&#37;</th>
      <th style="text-align: center;">exkl.</th>
      <th style="text-align: center;">inkl.</th>
      <th style="text-align: right;">Total</th>
    </tr>


  <% if defined?(f) %>
    <% document.lines.each do |ci| %>
        <%= f.fields_for "cart_lines[]", ci do |cl_fields| %>
          <tr class="<%= cycle('even', 'odd')%>">
            <td class="qty"><%= cl_fields.text_field :quantity, :size => 3 %> </td>
            <td class="product"><%= link_to ci.product.name, ci.product %></td>
            <td class="price"><%= ci.product.tax_class.percentage %></td>
            <td class="price vertborders"><%= pretty_price(ci.product.price, "", false) %></td>
            <td class="price vertborders"><%= pretty_price(ci.product.taxed_price, "", false) %></td>
            <td class="price"><%= pretty_price(ci.taxed_price, "") %></td>
            <td><%= link_to("X", {:controller => 'carts', :action => 'remove_all', :product_id => ci.product}, {:class => 'exx'}) %></td>
          </tr>
        <% end %>
      <% end %>
   <% else %>
      <% document.lines.each do |dl| %>
        <tr class="<%= cycle('even', 'odd')%>">
          <td><%= dl.quantity %></td>
          <td class="product"><%= link_to dl.product.name, dl.product %></td>
          <td class="price"><%= dl.product.tax_class.percentage %></td>
          <td class="price vertborders"><%= pretty_price(dl.product.price, "", false) %></td>
          <td class="price vertborders"><%= pretty_price(dl.product.taxed_price, "", false) %></td>
          <td class="price"><%= pretty_price(dl.taxed_price, "") %></td>
          <td></td>
        </tr>
      <% end %>
   <% end %>

    <tr class="spacer">
      <td colspan="7">&nbsp;</td>
    </tr>

    <tr class="spacer-bottom">
      <td colspan="7">&nbsp;</td>
    </tr>

    <tr>
      <td></td>
      <td>Produkte exkl. MwSt.</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="price" id="document_products_price"><%= pretty_price(document.products_price, "") %></td>
      <td></td>
    </tr>

    <tr class="underline">
      <td></td>
      <td>Mehrwertsteuer auf Produkte</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="price" id="document_taxes"><%= pretty_price(document.taxes, "", false) %></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td>Produkte inkl. MwSt.</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="price" id="document_products_taxed_price"><%= pretty_price(document.products_taxed_price, "") %></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Versand inkl. MwSt.</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="price" id="document_shipping_cost_including_taxes"><%= pretty_price( document.total_taxed_shipping_price, "") %></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><strong>Gesamttotal</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="price" id="document_taxed_price"><strong><%= pretty_price document.taxed_price %></strong></td>
      <td></td>
    </tr>

  </table>

<p style="text-align: right;">MwSt. insgesamt: <span id="document_total_taxes"><%= pretty_price(document.total_taxes) %></span></p>
