<h3>Existing pictures</h3>

<%= render :partial => 'thumbnail_list', :locals => {:product_pictures => @product_pictures } %>


<h3>Add product picture</h3>

<%= form_for [:admin, @product, @product_picture], :html => { :multipart => true } do |f| %>

    <%= f.file_field :file %>
    <%= f.submit %>
<% end %>

<h3>Helpful links</h3>

<p>They all open in a new window.</p>

<ul>
  <% unless @product.product_link.blank? %>
  <li>
    <%= link_to 'Product website', @product.product_link, :target => '_blank' %>
  </li>
  <% end %>

  <li>
   <% google_link = "http://images.google.com/images?q=" + CGI.escape("#{@product.manufacturer} #{@product.name}") %>
   <%= link_to 'Google Image Search for this product', google_link, :target => '_blank' %></li>
  </li>

  <li>
    <% bing_link  = "http://www.bing.com/images/search?q=" + CGI.escape("#{@product.manufacturer} #{@product.name}") %>
    <%= link_to 'Bing Image Search for this product', bing_link, :target => '_blank' %>
  </li>

</ul>