<div id="cart" class="embedded">

<% form_for @cart, :url => { :controller => 'carts', :action => 'update' } do |f| %>

<h4>Shopping cart</h4>
<ul>
  <% if @cart.cart_lines.count == 0 %>
    Your cart is empty.
  <% else %>

    <% @cart.cart_lines.each do |ci| %>
      <li>
        

        <% f.fields_for "cart_lines[]", ci do |cl_fields| %>
          <%= cl_fields.text_field :quantity, :size => 3 %> x 
          <%= ci.product.name %> (<%= pretty_price(ci.product.rounded_price) %>)
           <%= link_to "Remove", :controller => 'carts', :action => 'remove_all', :product_id => ci.product %>

        <% end %>

        
        
      </li>
    <% end %>
    
    
    <%= submit_tag 'Update quantities' %>
    <%= link_to "Checkout", :controller => :carts, :action => :show %>
    
  <% end %>
</ul>

</div>

<% end %>