
<%= form_for @cart, :url => { :controller => 'carts', :action => 'update' } do |f| %>
  <% if @cart.cart_lines.count == 0 %>
    <%= t("stizun.cart.your_cart_is_empty") %>
  <% else %>

    <table>
      <% @cart.cart_lines.each do |cart_line| %>
        <tr>
        <%= f.fields_for "cart_lines[]", cart_line do |cl_fields| %>
          <td><%= cl_fields.text_field :quantity, :size => 5, :style => 'width: 2em' %></td>
          <td><%= link_to cart_line.product.name, cart_line.product %></td>
          <td class="exx"><%= link_to("X", {:controller => 'carts', :action => 'remove_all', :product_id => cart_line.product}, {:class => 'exx'}) %></td>
        <% end %>
        </tr>
    <% end %>
    </table>

    <table class="totals">
      <tr>
        <td><%= t("stizun.general.products") %>:</td>
        <td class="price"><%= pretty_price(@cart.products_taxed_price, "") %></td>
        <td></td>
      </tr>
      <tr>
        <td><%= link_to t("stizun.shipping.shipping"), controller: 'page', action: 'shipping' %>:</td>
        <td class="price">
      <%= pretty_price(@cart.total_taxed_shipping_price, "") %>
    </td>
        <td></td>
      </tr>
      <tr>
        <td><strong><%= t("stizun.general.total")%>:</strong></td>
        <td class="price"><strong><%= pretty_price @cart.taxed_price %></strong></td>
        <td></td>
      </tr>
    </table>

    <div class="cartbuttons">
      <p>
        <%= submit_tag t("stizun.cart.update_quantities"), :class => 'real_button' %>
      </p>
      <% unless controller.controller_name == 'orders' %>
      <p>
      <%= link_to(t("stizun.cart.continue_to_checkout"), { :controller => :orders, :action => :new }, { :class => 'fake_button' }) %>
      </p>
      <% end %>
    </div>

    
  <% end %>
<% end %>


