<div id="cart" class="standalone">

<% form_for @cart, :url => { :controller => 'carts', :action => 'update' } do |f| %>

<h4><%= t("stizun.cart.shopping_cart")%></h4>
<ul>
  <% if @cart.cart_lines.count == 0 %>
    <%= t("stizun.cart.your_cart_is_empty") %>
  <% else %>

    <% @cart.cart_lines.each do |ci| %>
      <li>
        

        <% f.fields_for "cart_lines[]", ci do |cl_fields| %>
          <%= cl_fields.text_field :quantity, :size => 3 %> x 
          <%= ci.product.name %> (<%= pretty_price(ci.product.taxed_price.rounded) %>)
           <%= link_to t("stizun.cart.remove"), :controller => 'carts', :action => 'remove_all', :product_id => ci.product %>

        <% end %>

        
        
      </li>
    <% end %>
    
    
    <%= submit_tag t("stizun.cart.update_quantities") %>
    <%= link_to t("stizun.cart.continue_to_checkout"), :controller => :orders, :action => :new %>
    
  <% end %>
</ul>


<% end %>

</div>