


<div id="cart" class="standalone">

<%= form_for @cart, :url => { :controller => 'carts', :action => 'update' } do |f| %>

  <h3><%= t("stizun.cart.shopping_cart")%></h3>


  <% unless @product_updates.empty? %>
    <%= render :partial => 'product_updates' %>
  <% end %>


    <% if @cart.cart_lines.count == 0 %>
      <%= t("stizun.cart.your_cart_is_empty") %>
    <% else %>
      <div id="cart_table">
      <%= render :partial => 'documents/document_table', :locals => { :f => f, :document => @cart } %>
      </div>
    <p>&nbsp;</p>

    <table>
      <tr>
        <td style="vertical-align: middle">
        <%= submit_tag(t("stizun.cart.update_quantities"), {:class => 'real_button'}) %>
        </td>  
        <td style="vertical-align: middle">
        <%= link_to(t("stizun.cart.continue_to_checkout"), { :controller => :orders, :action => :new}, {:class => 'fake_button'}) %>
        </td>
      </tr>
    </table>

    <% end %>
<% end %>

</div>