<h2>Einloggen</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <br />
  <%= f.label :email, t('stizun.users.attributes.email') %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.label :password, t('stizun.users.attributes.password') %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label t("stizun.user_sessions.stay_logged_in") %><br />
  <br />
  <%= f.submit  t('stizun.user_sessions.log_in') %>


  <%= hidden_field_tag 'original_referrer', request.referrer %>
<% end %>

<p></p>

<p class="lightgray bottomline"></p>

<p>
  Falls Sie kein Konto haben, <%= link_to "registrieren Sie sich bitte", new_user_registration_path %>.
</p>

<p>Passwort vergessen? Sie können sich auf <%= link_to "dieser Seite", new_user_password_path %> ein neues Passwort zuschicken lassen.</p>
