<h1>New account transaction</h1>

<%= error_messages_for 'account_transaction' %>

<% if @last_transactions.count > 0 %>

  <h2>Last 5 transactions</h2>

  <table>
    <tr>
      <th>Date</th>
      <th>Accounts</th>
      <th>Note</th>
      <th>Amount</th>
    </tr>

  <% @last_transactions.each do |t| %>

    <tr>
      <td><%= short_date(t.created_at) %></td>
      <td>Credit: <%= t.credit_account.name %><br />
      Debit: <%= t.debit_account.name %>
      </td>
      <td><%= t.note %></td>
      <td><%= pretty_price(t.amount) %></td>
      
    </tr>

  <% end %>
  </table>

<% end %>


<h2>Create new transaction</h2>

<%= form_for [:admin, @account_transaction] do |f| %>

<p><%= f.label :credit_account_id, "Credit account" %></p>
<p><%= f.select(:credit_account_id, Account.options_for_select) %></p>

<p><%= f.label :debit_account_id, "Debit account" %></p>
<p><%= f.select(:debit_account_id, Account.options_for_select) %></p>

<p>Note: <%= f.text_field :note, :size => 50 %></p>

<p>Amount: <%= f.text_field :amount, :size => 6 %></p>


<%= f.submit 'Create transaction' %>

<% end %>