  <tr class="<%= cycle('odd','even') %> product_<%= product_line.id %>" >
    <td><%= check_box_tag "product_id_#{product_line.id}", product_line.id, false, :class => "batch" %></td>
    <td><%= product_line.id %></td>
    <td><%= product_line.product_pictures.count %></td>
    <td>


      <%= form_for [:admin, product_line] do |f| %>
        <%= f.check_box :is_available %> Available for sale <br>
        <%= f.submit 'Save' %>
      <% end %>

      <%= " <span class='danger'>[LOSS LEADER]</span><br>".html_safe if product_line.is_loss_leader? %>
      <%= " <span class='danger'>[MISSING COMPONENTS]</span><br>".html_safe if product_line.has_unavailable_components? %>
      <%= " <span class='danger'>[MISSING SUPPLY ITEM]</span><br>".html_safe if product_line.has_unavailable_supply_item? %>

    </td>

    <td>
      <%= product_line.manufacturer %>
    </td>

    <td>
      <%= product_line.name %>
    </td>


    <td class="price">
      <%= sprintf "%.2f", product_line.purchase_price %>
    </td>
    <td>
      <%= link_to "Edit", edit_admin_product_path(product_line), :class => 'fancybox' %>
      <%= link_to "Delete", admin_product_path(product_line), :confirm => 'Are you sure?', :method => 'delete' unless product_line.in_a_document?  %>
    </td>
  </tr>

