<h3>Edit product</h3>

<%= "<p><span class='danger'>[UNPROFITALE] We are losing money on this product.</span></p>".html_safe if !@product.profitable? %>

<%= error_messages_for(@product) %>

<h4>Product pictures</h4>
<%= render :partial => 'admin/product_pictures/thumbnail_list', :locals => { :product_pictures => @product.product_pictures } %>

<%= render :partial => 'product_picture_info', :locals => { :product => @product } %>

<h4>Product properties</h4>



<% if @product.componentized? %>

<p>This product is priced based on its components. You will not be able to edit some items in this form, because they are automatically calculated based on component pricing and desired margin percentage.</p>

<% end %>

<%= form_for [:admin, @product] do |f| %>

<div class="buttonbar">
  <div class="left">
    <%= f.submit 'Save changes' %>
  </div>
  <div class="right">
    <%= f.submit 'Save changes' %>
  </div>
<div style="clear: both;"></div>

</div>


<table>
  <tr>
  <td>

  <table class="dataentry">
    <tr>
      <td><%= f.label :manufacturer, "Manufacturer" %></td>
      <td><%= f.text_field :manufacturer, :size => 50 %></td>
    </tr>

    <tr>
      <td><%= f.label :manufacturer_product_code, "Manufacturer Product Code" %></td>
      <td><%= f.text_field :manufacturer_product_code, :size => 35 %></td>
    </tr>

    <tr>
      <td><%= f.label :product_link, "Product Link" %></td>
      <td><%= f.text_field :product_link, :size => 70 %></td>
    </tr>

    <tr>
      <td><%= f.label :name, "Name" %></td>
      <td><%= f.text_field :name, :size => 70 %></td>
    </tr>

    <tr>
      <td><%= f.label :short_description, "Short description" %></td>
      <td><%= f.text_area :short_description, :rows => 2, :cols => 70 %></td>
    </tr>

    <tr>
      <td><%= f.label :description_editor, "Description" %></td>
      <td><%= f.cktext_area :description, :toolbar=>'Stizun', :width=>'600px', :height=>'250px'
      %>
      </td>
    </tr>
  <tr>
    <td>Attachments</td>
    <td><%= render :partial => 'attachments', :locals => { :attachments => @product.attachments } %></td>
  </tr>

    </table>
    </td>

    <td>
      <%= render :partial => 'category_editor', :locals => { :f => f, :product => @product } %>
    </td>
  </tr>




</table>


  <hr>

  <h3>Components</h3>

  <% if @product.new_record? %>

    <p>You must first save this product before you can add components.</p>

  <% else %>

    <p><%= link_to "Edit components", admin_product_components_path(@product) %></p>

  <% end %>

  <% if @product.componentized? %>

    <%= render :partial => 'product_sets', :object => @product.product_sets %>

  <% else %>

  <p>This product has no components.</p>

  <% end %>

  <hr>



  <table>




  <% if @product.componentized? %>

    <tr>
      <td><%= f.label :weight, "Weight in kg" %></td>
      <td><%= @product.weight %> kg</td>
    </tr>
  <% else %>
    <tr>
      <td><%= f.label :weight, "Weight in kg" %></td>
      <td><%= f.text_field :weight, :size => 5 %></td>
    </tr>
  <% end %>

  <tr>
    <td><%= f.label :supplier_id, "Supplier" %></td>
    <td><%= f.select(:supplier_id, options_from_collection_for_select(Supplier.all, :id, :name, @product.supplier_id)) %></td>
  </tr>

  <tr>
    <td><%= f.label :supplier_product_code, "Supplier's product code" %></td>
    <td><%= f.text_field :supplier_product_code, :size => 15 %></td>
  </tr>

  <%= render :partial => 'supply_item' %>


 <tr>
    <td><%= f.label :tax_class_id, "Tax Class" %></td>
    <td><%= f.collection_select(:tax_class_id, TaxClass.find(:all, :order => 'name ASC'), :id, :name, {:prompt => true}) %></td>
  </tr>


  <% if @product.componentized? %>
    <tr>
      <td><%= f.label :purchase_price, "Purchase price" %></td>
      <td><%= pretty_price(@product.purchase_price) %></td>
    </tr>

  <% else %>
    <tr>
      <td><%= f.label :purchase_price, "Purchase price" %></td>
      <td><%= f.text_field :purchase_price, :size => 8 %></td>
    </tr>

  <% end %>


  <tr>
    <td>Calculated margin percentage:</td>
    <td><%= @product.margin_percentage %></td>
  </tr>

  <tr>
    <td>Calculated sales price:</td>
    <td><%= @product.gross_price %></td>
  </tr>

  <% if @product.componentized? %>
    <tr>
      <td><%= f.label :sales_price, "Sales price" %></td>
      <td><%= pretty_price(@product.price.rounded) %></td>
    </tr>
  <% else %>

    <tr>
      <td><%= f.label :sales_price, "Sales price" %></td>
      <td><%= f.text_field :sales_price, :size => 8 %> (Leave empty to make the system auto-calculate the sales price based on margin)</td>
    </tr>
  <% end %>


  <tr>
    <td><%= f.label :percentage_rebate, "Rebate in %" %></td>
    <td><%= f.text_field :percentage_rebate, :size => 8 %> (Takes precedence over rebate in CHF)</td>
  </tr>

  <tr>
    <td><%= f.label :absolute_rebate, "Rebate in CHF" %></td>
    <td><%= f.text_field :absolute_rebate, :size => 8 %></td>
  </tr>

  <tr>
    <td><%= f.label :rebate_until, "Rebate end date/time" %></td>
    <td><%= f.datetime_select :rebate_until %></td>
  </tr>

  <tr>
    <td> </td>
    <td><%= f.check_box :is_loss_leader %> Loss leader. This product's sales price may go below its purchase price, either through negative margins, a fixed sales price or large rebates.</td>
  </tr>

</table>

<hr>

<h3>Extended properties</h3>

<table>

  <% if @product.componentized? %>

    <tr>
      <td><%= f.label :stock, "Stock level (max.)" %></td>
      <td><%= @product.stock %></td>
    </tr>
  <% else %>
    <tr>
      <td><%= f.label :stock, "Stock level" %></td>
      <td><%= f.text_field :stock, :size => 4 %></td>
    </tr>
  <% end %>


  <tr>
    <td><%= f.check_box :is_available %> </td>
    <td>Is available for sale at Lincomp</td>
  </tr>


</table>


<%= f.hidden_field :supply_item_id %>


<div class="buttonbar">
  <div class="left">
    <%= f.submit 'Save changes' %>
  </div>
  <div class="right">
    <%= f.submit 'Save changes' %>
  </div>
<div style="clear: both;"></div>

</div>

<% end %>

