<h2>Products</h2>


<p><%= link_to 'Products with missing supply items', :controller => 'admin/products', :action => 'having_unavailable_supply_item' %></p>

<p>Full list by supplier:

<% Supplier.all.each do |sup| %>
  <% if params[:supplier_id].to_i == sup.id %>
    <strong>
  <% end %>
  <% if @category %>
    <%= link_to(sup.name, admin_supplier_category_products_path(sup, @category)) %>
  <% else %>
     <%= link_to(sup.name, admin_supplier_products_path(sup)) %>
  <% end %>
  <% if params[:supplier_id].to_i == sup.id %>
    </strong>
  <% end %>
<% end %>

<% if @category %>
  <div id="admin_category_breadcrumb">
  You are here: <%= categories_breadcrumb_path(@category, linked = true, admin = true) %>
  </div>

<% end %>

  <%= render :partial => 'admin/categories/category_summary', :object => @categories %>


<%= form_tag({}, {:method => 'get'}) do %>
  <p>Search: <%= text_field :search, :keyword, :size => 15 %> <%= submit_tag 'Search' %>

  <p>Limit to Manufacturer:
  <%= select_tag :manufacturer,
      options_for_select([""] + @manufacturers_array,
      params[:manufacturer]) %>

  Limit to Supplier:

  <%= select_tag(:supplier_id, options_from_collection_for_select(Supplier.all, :id, :name, params[:supplier_id]), :include_blank => true) %>
  </p>

  <%= hidden_field_tag(:category_id, params[:category_id]) if !params[:category_id].blank? %>
<% end %>

<% unless params[:search].blank? %>
  <p>Search results for: <%= params[:search][:keyword] %></p>
<% end %>

<div id="batch" style="display: inline;">
  Not editing multiple products
</div>
<div id="batch_actions" style="display: inline">
  <%= link_to "Edit", edit_multiple_admin_products_path %>
  <%= link_to "Clear", remove_cookie_admin_products_path %>
</div>
<br/>
<%= will_paginate @products %>

<%= link_to "Create new product", new_admin_product_path, :class => 'fancybox' %>

<table>
<tr>
  <th></th>
  <th>ID</th>
  <th>Pics</th>
  <th>Status</th>
  <th>Manufacturer</th>
  <th>Name</th>
  <th>Purchase price</th>
  <th>Actions</th>
</tr>

<% @products.each do |p| %>

        <%= render :partial => 'product_line', :object => p %>

<% end %>

</table>

<%= will_paginate @products %>


<%= link_to "Create new product", new_admin_product_path, :class => 'fancybox' %>

