<%= error_messages_for(:product) %>

<%= form_for [:admin, @product] do |f| %>

<div class="buttonbar">
  <div class="left">
    <%= f.submit 'Create new product' %>
  </div>
  <div class="right">
    <%= f.submit 'Create new product' %>
  </div>
<div style="clear: both;"></div>
</div>


<%=
  # Can't seem to use this partial here, because the product is not yet saved and
  # has no id at this time. Must improve at some point.
  #render :partial => 'product_picture_info', :locals => { :product => @product }
%>

<h4>Product properties</h4>


<table>
<tr>
  <td>
    <table class="dataentry">

      <tr>
        <td><%= f.label :manufacturer, "Manufacturer" %></td>
        <td><%= f.text_field :manufacturer, :size => 50 %></td>
      </tr>

     <tr>
       <td><%= f.label :manufacturer_product_code, "Manufacturer Product Code" %></td>
       <td><%= f.text_field :manufacturer_product_code, :size => 35 %></td>
     </tr>

      <tr>
        <td><%= f.label :product_link, "Product Link" %></td>
        <td><%= f.text_field :product_link, :size => 70 %></td>
      </tr>

      <tr>
        <td><%= f.label :name, "Name" %></td>
        <td><%= f.text_field :name, :size => 70 %></td>
      </tr>

      <tr>
        <td><%= f.label :short_description, "Short description" %></td>
        <td><%= f.text_area :short_description, :rows => 2, :cols => 70 %></td>
      </tr>

      <tr>
        <td><%= f.label :description_editor, "Description" %></td>
        <td><%= f.cktext_area :description, :toolbar=>'Stizun', :width=>'600px', :height=>'250px'  %>
        <a href="#" onClick="toggle_ckeditor();">Toggle WYSIWYG editor</a><br>

          </td>

      </tr>
      <script type="text/javascript">

        /* Load CKEditor for description field no matter what */
        /*
        if (CKEDITOR.instances.product_description_       editor) {
          CKEDITOR.instances.product_description_editor.destroy();
         }
        insert_cke          ditor();

        function insert_ckeditor() {
          CKEDITOR.replace('product_description _editor',
                              { filebrowserBrowseUrl: '/ckeditor/files',
                                filebrowserUploadUrl: '/ckeditor/create/file',
                                filebrowserImageBrowseUrl: '/ckeditor/images',
                                toolbar: 'Stizun',
                                filebrowserImageUploadUrl: '/ckeditor/create/image',
                                width: '600px',
                                language: 'de-CH',
                                height: '250px' });
        }

        function toggle_ckeditor() {

          if (CKEDITOR.instances.product_description_       editor) {
            CKEDITOR.instances.product_description_editor.destroy();
          } else {
            insert_ckeditor();
          }
      }
        */

      </script>

        </table>
  </td>

  <td>
        <%= render :partial => 'category_editor', :locals => { :f => f, :product => @product }   %>
  </td>
    </tr>
</table>


    <hr>
  <table>



  <tr>
    <td><%= f.label :weight, "Weight in kg" %></td>
    <td><%= f.text_field :weight, :size => 5 %></td>
  </tr>

  <tr>
    <td><%= f.label :supplier_id, "Supplier" %></td>
    <td><%= f.select(:supplier_id, options_from_collection_for_select(Supplier.all, :id, :name, @product.supplier_id)) %></td>
  </tr>

  <tr>
    <td><%= f.label :supplier_product_code, "Supplier's product code" %></td>
    <td><%= f.text_field :supplier_product_code, :size => 15 %></td>
  </tr>
  <tr>
    <td><%= f.label :tax_class_id, "Tax Class" %></td>
    <td><%= f.collection_select(:tax_class_id, TaxClass.find(:all, :order => 'name ASC'), :id, :name, {:prompt => true}) %></td>
  </tr>

  <tr>
    <td><%= f.label :purchase_price, "Purchase price" %></td>
    <td><%= f.text_field :purchase_price, :size => 8 %></td>
  </tr>
  
  <tr>
    <td><%= f.label :sales_price, "Sales price" %></td>
    <td><%= f.text_field :sales_price, :size => 8, :value => '' %> (Leave empty to make the system auto-calculate the sales price based on margin)</td>
  </tr>
</table>

<hr>

<h3>Extended properties</h3>

<table>

  <tr>
    <td><%= f.label :stock, "Stock level" %></td>
    <td><%= f.text_field :stock, :size => 4 %></td>
  </tr>

  <tr>
    <td><%= f.check_box :is_available %> </td>
    <td>Available for sale</td>
  </tr>

  <tr>
    <td><%= f.check_box :is_featured %> </td>
    <td>Featured product</td>
  </tr>

</table>

<%= f.hidden_field :supply_item_id unless @product.supply_item_id.blank? %>
<%= f.hidden_field :manufacturer_product_code unless @product.manufacturer_product_code.blank? %>

<div class="buttonbar">
  <div class="left">
    <%= f.submit 'Create new product' %>
  </div>
  <div class="right">
    <%= f.submit 'Create new product' %>
  </div>
<div style="clear: both;"></div>

</div>

 <%= link_to 'Close', :onclick => '$.fancybox.close();' %>
<% end %>

<p>Note: This form only allows creation of prodcuts using the most basic product information. Additional items such as categories etc. are assigned ina later step.</p>

