<table>
<tr>
  <td><%= f.label :name, "Name" %></td>
  <td><%= f.text_field :name, :size => 100 %></td>
</tr>

<tr>
  <td><%= f.label :description, "Description" %></td>
  <td><%= f.text_field :description, :size => 150 %></td>
</tr>

<tr>
  <td><%= f.label :description_url, "Description URL" %></td>
  <td><%= f.text_field :description_url, :size => 150 %></td>
</tr>

<tr>
  <td><%= f.label :weight, "Weight" %></td>
  <td><%= f.text_field :weight, :size => 4 %></td>
</tr>

<tr>
  <td><%= f.label :purchase_price, "Purchase Price" %></td>
  <td><%= f.text_field :purchase_price, :size => 8 %></td>
</tr>



</table>
