<h2>Supply items for <%= @supplier.name %></h2>

<p>
  <%= link_to 'Create new Supply Item', new_admin_supplier_supply_item_path(@supplier) %>
</p>

<%= form_tag({:action => 'index'}, {:method => 'get'}) do %>
  <p>Search for: <%= text_field :search, :keyword, :size => 25 %> <%= submit_tag 'Search' %></p>

  <p>Limit to Manufacturer:</p>

  <%= select_tag :manufacturer,
      options_for_select([""] + @manufacturers_array,
      params[:manufacturer]) %>

  <p>Limit to Category:</p>
	<%= select_tag :category_string,
	  options_for_select(@category_tree, params[:category_string]),
	  {:include_blank => true}%>

  <p>Order by:</p>
    <%= select_tag :order,
        options_for_select(['name', 'manufacturer', 'supplier_product_code', 'manufacturer_product_code'] ,params[:order]) %>

<% end %>

<%= will_paginate @supply_items %>

<table id='supply_item_list'>
  <tr>
    <th>ID</th>
    <th>Wfl.</th>
    <th>Manufacturer</th>
    <th>Supplier Code/Mfg. Code</th>
    <th>Name</th>
    <th>Status</th>
    <th>Ext. Status</th>
    <th>Purchase price</th>
    <th>Action</th>
  </tr>

<% @supply_items.each do |item| %>
  <tr class="<%= cycle('odd','even') %>" id="supply_item_<%= item.id %>">
    <td><%= item.id %></td>
    <td class="workflow_<%= item.workflow_status_constant %>"><%= item.workflow_status_to_human %></td>
    <td><%= item.manufacturer %></td>
    <td><%= item.supplier_product_code %> / <%=h item.manufacturer_product_code %></td>
    <td><%= item.name %></td>
    <td><%= item.status_human %></td>
    <td><%= extended_status_links(item) %></td>
    <td class="price"><%= item.purchase_price %></td>
    <td>
      <%= link_to 'Edit Supply Item', edit_admin_supplier_supply_item_path(item.supplier, item) %> |
      <%= link_to 'Create Product', new_from_supply_item_admin_products_path(:supply_item_id => item), :class => 'fancybox' %> |
      <%= link_to 'Edit Product', edit_admin_product_path(item.product), :class => 'fancybox' unless item.product.nil? %>
    </td>
  </tr>
  <tr class="form">
    <td colspan="9"><%= render 'form', :item => item %></td>
  </tr>

  <%= 
# This is much too slow right now, we need to find its own view ("supply items that have alternatives") so we can justify this slowness
#render :partial => 'product_alternatives', :locals => {:item => item}
%>

<% end %>
</table>

<%= will_paginate @supply_items %>

<br />

