<h2>Supply items for <%= @supplier.name %></h2>


<%= form_for [:admin, @supplier, @search] do |f| %>
  <p>Search for: </p>
  <%= f.text_field :keyword, :size => 25 %>
  <%= f.submit 'Search' %>

  <% manufacturer_contains = nil %>
  <% search_keyword = nil %>

  <% unless params[:search].blank? %>
    <% manufacturer_contains = params[:search][:manufacturer_contains] unless params[:search][:manufacturer_contains].blank? %>
    <% search_keyword = params[:search][:keyword] unless params[:search][:keyword].blank? %>
  <% end %>

  <p>Limit to Manufacturer:</p>

  <%= f.select :manufacturer_contains,
      options_for_select([""] + @manufacturers_array,
      manufacturer_contains)  %>

  <p>Limit to Category:</p>

  <%= category_id_select_tag_for_supplier(@supplier, params[:category_id]) %>

  <%= f.submit 'Search' %>
      
<% end %>

<%= will_paginate @supply_items %>

<table id='supply_item_list'>
  <tr>
    <th>ID</th>
    <th>Manufacturer</th>
    <th>Supplier Code/Mfg. Code</th>
    <th>Name</th>
    <th>Status</th>
    <th>Purchase price</th>
    <th>Action</th>

  </tr>

<% @supply_items.each do |item| %>
  <tr class="<%= cycle('odd','even') %>" id="supply_item_<%= item.id %>">
    <td><%= item.id %></td>
    <td><%= item.manufacturer %></td>
    <td><%= item.supplier_product_code %> / <%=h item.manufacturer_product_code %></td>
    <td><%= item.name %></td>
    <td><%= item.status_human %></td>
    <td class="price"><%= item.purchase_price %></td>
    <td>
      <%= link_to 'Create Product', new_from_supply_item_admin_products_path(:supply_item_id => item), :class => 'fancybox' %>
      <%= link_to 'Edit Product', edit_admin_product_path(item.product), :class => 'fancybox' unless item.product.nil? %>
    </td>
  </tr>
  <tr id="form">
    <td colspan="7"><%= render 'form', :item => item %></td> 
  </tr>
  
  <%= render :partial => 'product_alternatives', :locals => {:item => item} %>

<% end %>
</table>

<%= will_paginate @supply_items %>

<br />
