<h2>Supply items for <%= @supplier.name %></h2>



<%= form_tag({:action => 'index'}, {:method => 'get'}) do %>


  <p>Search for: <%= text_field :search, :keyword, :size => 25 %> <%= submit_tag 'Search' %>

  <p>Limit to Categories:</p>

  <p>
    <%= select_tag :category01, 
        options_for_select([""] + @category01_array,
        params[:category01]) %>
    <%= select_tag :category02, 
        options_for_select([""] + @category02_array,
        params[:category02])%>
    <%= select_tag :category03, 
        options_for_select([""] + @category03_array,
        params[:category03])%>
  </p>


<% end %>


<% unless params[:search].blank? %>
<p>Search results for: <%= params[:search][:keyword] %></p>
<% end %>




<%= will_paginate @supply_items %>

<table>
  <tr>
    <th>ID</th>
    <th>Manufacturer</th>
    <th>Supplier Code/Mfg. Code</th>
    <th>Name</th>
    <th>Status</th>
    <th>Purchase price</th>
    <th>Action</th>

  </tr>

<% @supply_items.each do |item| %>
  <tr class="<%= cycle('odd','even') %>">
    <td><%=h item.id %></td>
    <td><%=h item.manufacturer %></td>
    <td><%=h item.supplier_product_code %> / <%=h item.manufacturer_product_code %></td>
    <td><%=h item.name %></td>
    <td><%=h item.status_human %></td>
    <td class="price"><%= item.purchase_price %></td>
    <td>
      <%= link_to 'Create Product', new_from_supply_item_admin_products_path(:supply_item_id => item), :class => 'fancybox' %>
      <%= link_to 'Edit Product', edit_admin_product_path(item.product), :class => 'fancybox' unless item.product.nil? %>
    </td>

  </tr>
<% end %>
</table>

<%= will_paginate @supply_items %>

<br />