<h1>Listing users</h1>


<%= will_paginate @users %>

<table>
  <tr>
  <th>ID</th>
  <th>Login/E-Mail</th>
  </tr>

<% @users.each do |u| %>
  <tr>
    <td><%= u.id %></td>
    <td><%= u.email %></td>
    <td><%= link_to "Edit", edit_admin_user_path(u), :class => 'fancybox' %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @users %>