<h1>Editing supplier</h1>

<%= form_for([:admin, @supplier]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address_id %><br />
    <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :one_line_summary) %>
  </p>
  <p>
    <%= f.label :shipping_rate_id %><br />
    <%= f.select :shipping_rate_id, options_from_collection_for_select(ShippingRate.all, :id, :name) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', admin_supplier_path(@supplier) %> |
<%= link_to 'Back', admin_suppliers_path %>