
  <%= will_paginate product_table %>

  <table class="productlist">
    <thead>
      <th scope="col"></th>
      <th scope="col">Produkt</th>
      <th scope="col">Preis</th>
    </thead>
    <tfoot>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tfoot>
    <tbody>
      <% product_table.each do |p| %>

      <% if p.on_sale? %>
        <tr class="on_sale_product <%= cycle("even","odd")%>">
      <% else %>
        <tr class="<%= cycle("even","odd")%>">
      <% end %>

      <td>
        <% unless p.thumbnail_picture.nil? %>
          <%= image_tag p.thumbnail_picture.file.url(:thumb) %>
        <% end %>

      </td>

      <td>
        <%= link_to p.name, :action => 'show', :id => p %>
        <% unless p.short_description.blank? %>
        <br />
          <%= Sanitize.clean(p.short_description, Sanitize::Config::STIZUN).html_safe %>
        <% end %>
      </td>

      <td class="price buy">
        <%= product_rounded_price(p).html_safe%>
        <br>
        <div class="compact_add_to_cart_box">
        <%= form_tag :controller => 'carts', :action => 'add_product', :method => 'get' do -%>
          <%= text_field_tag "quantity", 1, :size => 2 %>
          <%= hidden_field_tag "product_id", p.id %>
          <%= submit_tag t("stizun.cart.add_to_cart") %>
        <% end -%>
        </div>
      </td>
      
      </tr>
      <% end %>
    </tbody>

  </table>

  <%= will_paginate product_table %>