<%= render :partial => 'carts/compact' unless @cart.cart_lines.count == 0 %>


<div id="product_list">

<h3><%= t("stizun.product.products") %></h3>

  <% if @products.count == 0 %>
    <% if @category %>
      <%= t("stizun.category.no_products_in_this_category") %>
    <% else %>
      <%= t("stizun.product.no_products") %>
    <% end %>
  <% else %>
    <%= render :partial => 'product_table', :object => @products %>
  <% end %>

</div>