<div id="product_details">

  <div id="add_to_cart_box">
    <p class="price"><%= product_rounded_price(@product).html_safe %></p>
    <p class="stock"><%= @product.stock %> <%= t("stizun.product.pcs_in_stock_short") %></p>

    <%= form_tag "/carts/add_product", :method => 'get' do -%>
      <%= text_field_tag "quantity", 1, :size => 3 %>
      <%= hidden_field_tag "product_id", @product.id %>
      <%= submit_tag t("stizun.cart.add_to_cart") %>
    <% end -%>
  </div>

  <h3><%= @product.name %></h3>

  <p><%= @product.description %></p>



  <p style="clear: both;"></p>

  <div id="product_categories">
    <h4><%= t("stizun.category.categories") %></h4>
    <% @product.categories.each do |cat| %>
      <p><%= categories_breadcrumb_path(cat, linked = true) %><p>

    <% end %>
  </div>

</div>