<div id="product_details">

  <h3><%= @product.name %></h3>

  <div id="add_to_cart_box">

    <% if !@changes.empty? %>
      <div id="price_update_box">
      Neuer Preis!<br>Der alte Preis war <%= pretty_price(@changes[0]['price'][0]) %>
      </div>
    <% end %>

    <p class="price"><%= product_rounded_price(@product).html_safe %></p>
    <p class="stock"><%= @product.stock %> <%= t("stizun.product.pcs_in_stock_short") %></p>

    <%= form_tag "/carts/add_product", :method => 'get' do -%>
      <%= text_field_tag "quantity", 1, :size => 3 %>
      <%= hidden_field_tag "product_id", @product.id %>
      <%= submit_tag t("stizun.cart.add_to_cart") %>
    <% end -%>
    <p><a href="#price_updates">Preis-Updates abonnieren</a></p>
  </div>


  <div id="product_picture_gallery">
    <%= render :partial => 'picture_display', :locals => { :product_pictures => @product.product_pictures } %>
  </div>

  <% unless @product.short_description.blank? %>
    <h4><%= t('stizun.product.short_description') %></h4>
    <p><%= Sanitize.clean(@product.short_description, Sanitize::Config::STIZUN).html_safe %></p>
  <% end %>

  <h4><%= t('stizun.product.description') %></h4>
  <p><%= Sanitize.clean(@product.description, Sanitize::Config::STIZUN).html_safe %></p>


  <% if @product.attachments.count > 0 %>
    <h4><%= t('stizun.product.attachments') %></h4>
    <ul>
      <% @product.attachments.each do |att| %>
        <li><%= link_to File.basename(att.file.current_path), att.file.url %></li>
      <% end %>
    </ul>
  <% end %>


  <div id="price_update_box">
    <a name="price_updates"></a>
    <h4>Preis-Updates</h4>
    <p>Wollen Sie informiert werden, wenn sich der Preis dieses Produktes ändert? Abonnieren Sie unsere Preis-Updates. Sie erhalten maximal eine Mail pro Tag, egal, wie viele Produkte Sie abonnieren.</p>
    <% if current_user && current_user.products.include?(@product) %>
      <p>Sie haben Preis-Updates für dieses Produkt abonniert. <%= link_to t('stizun.product.unsubscribe'), unsubscribe_product_path(Notification.get_remove_hash(current_user, @product)) %> </p>
    <% else %>
      <p><%= form_tag subscribe_product_path(@product) do %>
          <%= text_field_tag :email, current_user ? current_user.email : "", :placeholder => 'Ihre E-Mail-Adresse' %>
          <%= submit_tag t('stizun.product.subscribe') %>
        <% end %>
      </p>
    <% end %>
  </div>

  
  <p style="clear: both;"></p>

  <div id="product_categories">
    <h4><%= t("stizun.category.categories") %></h4>
    <% @product.categories.each do |cat| %>
      <p><%= categories_breadcrumb_path(cat, linked = true) %><p>

    <% end %>
  </div>

</div>
