<h1><%= t("stizun.account.login")%></h1>
 
<%= form_for @user_session, :url => user_sessions_path do |f| %>
  <%= f.error_messages %>
  <br />
  <%= f.label :email, t('stizun.users.attributes.email') %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.label :password, t('stizun.users.attributes.password') %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label t("stizun.user_sessions.stay_logged_in") %><br />
  <br />
  <%= f.submit  t('stizun.user_sessions.log_in') %>
<% end %>

<p>
<%= link_to t("stizun.account.create_new_account"), new_user_path %>
</p>