<h1>Login</h1>
 
<% form_for @user_session, :url => user_sessions_path do |f| %>
  <%= f.error_messages %>
  <br />
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label t("stizun.user_sessions.stay_logged_in") %><br />
  <br />
  <%= f.submit "Login" %>
<% end %>

<p>
<%= link_to "Neues Konto erstellen", new_user_path %>
</p>