<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" > 
 
<head> 
 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>ADMIN: Lincomp</title> 
  <%= stylesheet_link_tag "general" %>
  <%= stylesheet_link_tag "modal" %>
  <%= stylesheet_link_tag "templates/lincomp/errors" %>

  <%= stylesheet_link_tag "jquery.fancybox-1.3.3" %>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.jstree/jquery.jstree.js" %>
  <%= javascript_include_tag "jquery.fancybox/jquery.fancybox-1.3.3.pack.js" %>  

</head> 
 
<body>
  <div id="modal_wrapper">

  
    <div id="modal_content"> 
      <% if flash[:notice] -%>
        <div id="notice" ><%= flash[:notice] %></div>
      <% end -%>
      <% if flash[:error] -%>
        <div id="error" ><%= flash[:error] %></div>
      <% end -%>

    <%= yield %>
    </div> 
  
  </div>     
    
</body> 
</html> 
