<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" > 
 
<head> 
 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>ADMIN: Stizun</title> 
  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag "general", :media => "all" %>
  <%= stylesheet_link_tag "general_admin", :media => "all" %>
  <%= stylesheet_link_tag "templates/lincomp/errors", :media => "all" %>

  <%= stylesheet_link_tag "jquery.fancybox-1.3.3" %>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag :ckeditor %>

  <%= javascript_include_tag "jquery.jstree/jquery.jstree.js" %>
  <%= javascript_include_tag "jquery.fancybox/jquery.fancybox-1.3.3.pack.js" %>  
  <%= javascript_include_tag "jExpand" %>

 <script type="text/javascript" charset="utf-8">

        
      $(document).ready(function() {
        
        $("a.fancybox").fancybox({
          'hideOnContentClick': false,
          'titlePosition'   : 'outside',
          'overlayColor'    : '#444',
          'overlayOpacity'  : 0.9,
          'width'           : '90%',
          'height'          : '90%',
          'autoScale'       : false,          
          'transitionIn'    : 'none',
          'transitionOut'   : 'none',
          'type'            : 'iframe'
        });
        
      });
        
        
    </script>

</head> 
 
<body>
  <div id="wrapper">

    <div id="header"> 
      <h1>Stizun Admin</h1> 
    </div> 

    <div id="primarynav">
      <div class="admin-navigation">
      <ul>
        <li><%= link_to "Dashboard/Home", admin_path %></li>
        <li><%= link_to "Products", admin_products_path %></li>
        <li><%= link_to "Categories", admin_categories_path %></li>
        <li><%= link_to "Orders", admin_orders_path %></li>
        <li><%= link_to "Invoices", admin_invoices_path %></li>
        <li><%= link_to "Users", admin_users_path %></li>
        <li><%= link_to "Tax Classes", admin_tax_classes_path %></li>
        <li><%= link_to "System history", admin_histories_path %></li>
        <li><%= link_to "Suppliers", admin_suppliers_path %></li>
        <li><%= link_to "Payment methods", admin_payment_methods_path %></li>
        <li><%= link_to "Shipping rates", admin_shipping_rates_path %></li>
        <li><%= link_to "Configuration items", admin_configuration_items_path %></li>
        <li class="lastlink"></li>

      <ul>
      </div>
    </div>
  
    <div id="content"> 
      <% if flash[:notice] -%>
        <div id="notice" ><%= flash[:notice] %></div>
      <% end -%>
      <% if flash[:error] -%>
        <div id="error" ><%= flash[:error] %></div>
      <% end -%>

    <%= yield %>
    
   
    </div> 

    <div id="footer">
    &copy; 2010 Lincomp GmbH
    </div>
  </div>     
    
</body> 
</html> 
