<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" > 
 
  <head> 
  
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
    <title>Lincomp</title> 
    <%= csrf_meta_tag %>

    <%= #stylesheet_link_tag "general" 
    %>
    <%= stylesheet_link_tag "templates/lincomp/stylesheet", :media => "all" %>
    <%= stylesheet_link_tag "templates/lincomp/errors", :media => "all" %>

    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery.jstree/jquery.jstree.js" %>

  </head> 
 
  <body id="indexHomeBody"> 

    <div id="wrapper">
      
      <div id="page">
      
        
        <div id="header">
        <!-- This just contains the logo -->  
        </div>
        
        <!-- #### NAV START #### -->
        <div id="nav">
          <div id="nav_menu">
          <ul>
            <li class="nav_menu_item"><%= link_to "Home", root_path %></a></li>            
            <% if current_user.nil? %>
              <li class="nav_menu_item"><%= link_to "Einloggen", login_path %></li>
              <li class="nav_menu_item"><%= link_to "Konto erstellen", new_user_path %></li>
            <% else %>
              <li class="nav_menu_item"><%= link_to "Ausloggen", logout_path %></li>
              <li class="nav_menu_item"><%= link_to "Mein Konto", user_path(current_user) %></li>
            <% end %>
            <li class="nav_menu_item"><%= link_to "Einkaufswagen", cart_path %></a></li>
            <li class="nav_menu_item"><%= link_to "Zur Kasse", new_order_path %></a></li>
            <li class="nav_menu_item"><%= link_to "AGB", :controller => 'page', :action => 'tos' %></a></li>
            <li class="nav_menu_item"><%= link_to "Kontakt", :controller => 'page', :action => 'contact' %></a></li>

          </ul>
           
            
          </div>
          <div id="nav_rightbox">
         
          </div>
        </div>
        <!-- #### NAV STOP #### -->     
      

        <div id="content">

          <div id="ct_main">
           
           <!-- #### CONTENT START #### -->

            <!-- bof  breadcrumb -->
            
            <div id="navBreadCrumb"><%= categories_breadcrumb_path(@category, linked = true) if @category %></div>
        
            <!-- eof breadcrumb -->

            <% if flash[:notice] -%>
              <div id="notice" ><%= flash[:notice] %></div>
            <% end -%>
            <% if flash[:error] -%>
              <div id="error" ><%= flash[:error] %></div>
            <% end -%>

     
            <%= yield %>
           
          </div>
          <!-- #### /CONTENT MAIN #### -->
  
          <!-- RIGHT COLUMN -->
          <div id="rightcolumn">
                  <% @cart = Cart.get_from_session(session) %>
                  <%= render :partial => 'carts/sidebar_box' %>

                  <div class="box" id="category_box"> 
                    <div class="box_hd"> 
                        <h3 class="rightBoxHeading">Produktsuche</h3> 
                    </div> 
                    <div class="box_ct"> 
                      <div id="categoriesContent" class=" sideBoxContent centeredContent">
                        <%= render :partial => 'shared/product_search_box' %>
                      </div>
                      </div> 
                    <div class="box_ft"> 
                        &nbsp;
                    </div> 
                  </div> 


                  <div class="box" id="category_box"> 
                    <div class="box_hd"> 
                        <h3 class="rightBoxHeading">Kategorien</h3> 
                    </div> 
                    <div class="box_ct"> 
                      <div id="categoriesContent" class=" sideBoxContent centeredContent">
                        <%= render :partial => 'shared/category_tree' %>
                      </div>
                      </div> 
                    <div class="box_ft"> 
                        &nbsp;
                    </div> 
                  </div> 
  


            </div>
                  
            <%= image_tag("templates/lincomp/gnu_and_pingu_small.png", :style => 'margin-left: 15px;') %>
            
             <div style="margin-top: 20px; margin-right: 20px; color: #ccc; text-align: right; font-size: 8pt;">Tux character &copy; Larry Ewing, Simon Budig and Anja Gerwinski</div>
              
          </div>
          <!-- /RIGHT COLUMN -->

       
              
         <!-- #### FOOTER START #### -->
       
          <div id="footer">
              <div id="ft_top">Lincomp - Linux computers, Linux compatibility</div>
              <div id="ft_btm">
                  <div id="ft_left">
                      
                  </div>

                  <div id="ft_val">
                      &copy; 2010 Lincomp GmbH, 2007 - 2010 JM Cahenzli AG<br />
                  </div>
              </div>

          </div>
          
          <!-- #### FOOTER STOP #### -->
        
        </div>
        <!-- END CONTENT -->
        
      </div>
      <!-- /PAGE -->
      
    </div>
    <!-- /WRAPPER -->


  </body>
</html> 
